doctype html
html(class="no-js", lang="en")
    include header
    -var company = "Spinnaker"
    -var sm_company = company.toLowerCase()
    body

        .container.teaser.revert
            div.navigate(data-magellan-expedition="fixed" data-options="threshold : 480;destination_threshold : 20;duration : 1000")
                .row
                    .column
                        .logo.left
                            a(href="index.html") #{company}
                        dl.sub-nav.right.hide-for-small-only
                            dd(data-magellan-arrival="advantages")
                                a(href="#advantages") Преимущества
                            dd(data-magellan-arrival="mission")
                                a(href="#mission") Миссия
                            dd(data-magellan-arrival="showme")
                                a(href="#showme") Фолио
                            dd(data-magellan-arrival="order")
                                a(href="#order") Приступим!
            section.row
                .slogan.small-12.medium-7.large-5.column
                    h2 Попутный ветер
                    p.lead Полный комплекс услуг по разработке, внедрению и сопровождению программных решений более чем 30-ти клиентам. Только высококвалифицированные ИТ-специалисты. Различная сложность и масштаб проектов.

        .container
            section.row
                .column
                    ul.tabs(data-tab)
                        li.tab-title.active
                            a(href="#panel-services")
                                h2 Услуги
                        li.tab-title
                            a(href="#panel-products")
                                h2 Решения
                    
                    .tabs-content.row
                        #panel-services.content.active
                            p.small-12.medium-8.large-5.column Люди по-разному воспринимают работу, но точно одно, что без должного внимания процессу сложно получить достойный результат. На вкладке решения вы можете посмотреть какие продукты для достижения бизнес-целей мы создаем.
                            ul.listing.no-bullet
                                li
                                    h3
                                        span.ic.lcons-cup
                                        | ИТ-консалтинг

                                    p Даль до подпоясал города, рыбного мир решила текст, гор последний бросил если над.
                                        br
                                        a(href="#") Подробнее
                                    
                                li
                                    h3
                                        span.ic.lcons-data
                                        | Прототипирование
                                    p Маленькая злых безопасную буквоград родного щеке, путь над предупреждал необходимыми ipsum эта коварный!
                                        br
                                        a(href="#") Подробнее
                                    
                                li
                                    h3
                                        span.ic.lcons-diamonds
                                        | Заказная разработка ПО
                                    p Реторический проектах языкового на берегу, эта залетают себя предупредила предупреждал вскоре заголовок, даль всеми.
                                        br
                                        a(href="#") Подробнее
                                    
                                li
                                    h3
                                        span.ic.lcons-display
                                        | Интеграция приложений
                                    p Алфавит переулка речью грустный повстречался над последний родного ipsum, точках океана своих первую.
                                        br
                                        a(href="#") Подробнее
                                    
                                li
                                    h3
                                        span.ic.lcons-fire
                                        | Миграция приложений и данных
                                    p Снова предложения, рыбного подпоясал то свой большой безопасную буквенных толку. Напоивший, эта, рыбными.
                                        br
                                        a(href="#") Подробнее
                                    
                                li
                                    h3
                                        span.ic.lcons-heart
                                        | Модернизация ПО
                                    p Вскоре назад сих своих рукопись, точках взобравшись проектах которой решила свое! Языком, домах.
                                        br
                                        a(href="#") Подробнее
                                    
                                li
                                    h3
                                        span.ic.lcons-lab
                                        | Информационная безопасность
                                    p За раз путь семантика взобравшись прямо послушавшись даль, одна текст курсивных, ему осталось!
                                        br
                                        a(href="#") Подробнее
                                    
                                li
                                    h3
                                        span.ic.lcons-leaf
                                        | Независимое тестирование
                                    p Безорфографичный, буквенных. Журчит семь это точках решила, сбить по всей знаках первую использовало всеми!
                                        br
                                        a(href="#") Подробнее
                                    
                                li
                                    h3
                                        span.ic.lcons-like
                                        | Сопровождение и поддержка
                                    p Возвращайся пунктуация своих свой речью, грустный послушавшись лучше взобравшись жаренные страна предупреждал взгляд.
                                        br
                                        a(href="#") Подробнее
                                    

                        #panel-products.content
                            p.small-12.medium-8.large-5.column Венцом любой услуги, да вообще процесса, всегда является результат, только отточенные процессы позволяют качественно решать потребности клиента.
                            ul.listing.no-bullet
                                li
                                    h3
                                        span.ic.lcons-location
                                        | Веб-приложения
                                    p Выйти скатился, взобравшись переулка образ вершину путь снова буквенных свою! Переписывается, пустился, силуэт!
                                        br
                                        a(href="#") Подробнее
                                    
                                li
                                    h3
                                        span.ic.lcons-news
                                        | Корпоративные порталы
                                    p Необходимыми, решила образ, агенство пояс власти все продолжил, путь своих взгляд запятой прямо.
                                        br
                                        a(href="#") Подробнее
                                    
                                li
                                    h3
                                        span.ic.lcons-noodle
                                        | Электронная коммерция
                                    p Что которое, обеспечивает? Вершину назад, знаках над грустный домах языкового залетают власти раз.
                                        br
                                        a(href="#") Подробнее
                                    
                                li
                                    h3
                                        span.ic.lcons-note
                                        | Управление предприятием
                                    p Все вскоре, безорфографичный точках то, переулка ее, языком дал великий маленький грамматики раз?
                                        br
                                        a(href="#") Подробнее
                                    
                                li
                                    h3
                                        span.ic.lcons-packet
                                        | CRM-системы
                                    p Наш но речью семь точках, знаках себя ему она бросил он свой, продолжил.
                                        br
                                        a(href="#") Подробнее


        .container(data-magellan-destination="advantages")
            a(name="advantages")
            section.row
                h2.column Преимущества
                .small-12.medium-5.large-5.column
                    p.lead Существует несколько причин, на основании которых клиенты выбирают #{company}:
                .small-12.medium-7.large-6.large-offset-1.column
                    ul.no-bullet 

                        li
                            h3 Адаптация к процессам заказчика
                            p В центре нашего внимания находится клиент с его потребностями. Благодаря изучению ваших бизнес-процессов и потребностей, мы организуем свою деятельность так, чтобы вы чувствовали себя уверенно и комфортно. Специалисты #{company} не просто сотрудничают с вами, а становятся частью вашей компании, полностью погружаясь в специфику вашего бизнеса. #{company} ориентируется на долгосрочное сотрудничество, которое позволяет достичь глубокого понимания внутренних процессов компаний и предоставлять качественные решения с наименьшими затратами.

                        li
                            h3 Оптимизация затрат
                            p Сотрудничая с профессиональным поставщиком услуг по разработке программного обеспечения, вы не несете затрат на поиск, привлечение и подготовку собственной ИТ-команды, а получаете незамедлительный доступ к квалифицированным специалистам различного профиля. Мы поможем оценить трудозатраты проекта, предложим выгодную модель сотрудничества и возьмем на себя все работы по реализации вашей бизнес-идеи.

                        li
                            h3 Формирование компетентных команд
                            p Благодаря высокому уровню менеджеров, наличию корпоративного обучения, сложным и интересным задачам мы привлекаем лучших сотрудников, из которых впоследствии формируются сильные проектные команды. В #{company} работают профессионалы, за плечами которых от 2-х до 10-ти лет опыта работы в ИТ-сфере. Для каждого проекта мы формируем выделенные команды – разработчиков, программных архитекторов, бизнес-аналитиков, специалистов по контролю качества, координатора и руководителя проекта – с учетом навыков каждого из участников. Это позволяет достичь высокой слаженности работы команды.

        .container.mission(data-magellan-destination="mission")
            a(name="mission")
            section.row
                .medium-8.column

                    p.lead 
                        span.plane
                            strong(data-magellan-destination="mission") Миссия 
                            |#{company} – оказывать всестороннюю помощь нашим клиентам в создании и развитии ИТ-систем, способствующих успеху их бизнеса. Мы предоставляем весь комплекс услуг в сфере профессиональной разработки заказного программного обеспечения, интеграции приложений, стратегического и технологического ИТ-консалтинга, тестирования, сопровождения и поддержки ПО.

                    p
                        span.plane Сотрудничая с #{company}, наши клиенты получают в свое распоряжение профессионалов с системным мышлением и творческим подходом, широчайший спектр технологий, отлаженные и проверенные временем методологии управления проектами, опыт успешно выполненных проектов, доскональный контроль качества и гибкие модели сотрудничества.

        .container(data-magellan-destination="showme")
            a(name="showme")
            section.row
                .column
                    h2 Примеры работ
                    ul.listing-imaged.showme.no-bullet.row.collapse
                        - for (var x = 1; x < 13; x++)
                            li.column
                                case x
                                    when 3
                                    when 8
                                    when 11
                                        figure.swiper-container.folio_in_folio
                                            figure.swiper-wrapper
                                                img.swiper-slide(src="imgs/folio-#{x}.jpg", alt="Работа # #{x}")
                                                img.swiper-slide(src="imgs/folio-#{x % 17 - 1}.jpg", alt="Работа # #{x}")
                                                img.swiper-slide(src="imgs/folio-#{x % 17 - 2}.jpg", alt="Работа # #{x}")
                                            figcaption
                                                h3 Работа # #{x}
                                                small: a(href="") print
                                                |  
                                                small: a(href="") big data
                                                |  
                                                small: a(href="") machine learning

                                                .text-right
                                                    button
                                                        .ic.lcons-see
                                                    button
                                                        .ic.lcons-star
                                            .swiper-pagination.folio_in_folio-p
                                    default
                                        figure
                                            img(src="imgs/folio-#{x}.jpg", alt="Работа # #{x}")
                                            figcaption
                                                h3 Работа # #{x}
                                                small: a(href="") web
                                                |  
                                                small: a(href="") ID
                                                |  
                                                small: a(href="") development
                                                |  
                                                small: a(href="") research

                                                .text-right
                                                    button
                                                        .ic.lcons-see
                                                    button
                                                        .ic.lcons-star



        .container
            section.row
                .column
                    h2 C нами работают
                    .swiper-container.clientlist
                        ul.listing-imaged.no-bullet.row.collapse.swiper-wrapper
                            - for (var x = 1; x < 13; x++)
                                li.column.swiper-slide
                                    img(src="imgs/#{x}.png", alt="Клиент # #{x}")

        .container.order(data-magellan-destination="order")
            a(name="order")
            section.row
                .column

                    h2 Отчаливаем

                    p.lead Расскажите нам про свой проект в любой удобной для вас форме.

                    .row

                        p.small-12.medium-5.medium-push-7.large-4.column Все важно! Будь то четко сформулированные требования или просто идея. Мы подберем специалистов под ваши нужды с учетом отраслевой специфики, способа технологической реализации и характера предоставляемой услуги. 


                        form.small-12.medium-7.medium-pull-5.large-6.large-pull-3.column(action="")
                            label(for="name") Представьтесь
                            input#name(type="text", name="name" title="Как нам лучше всего вас называть")
                            label(for="mail") Ваш e-mail
                            input#mail(type="text", name="name" placeholder="write@mail.com")
                            label(for="tel") Номер телефона
                            input#tel(type="text", name="name"  title="Введите в формате 375296351475 или даже +375(29)6351475" placeholder="например 375296351475")
                            label(for="comm") Ваша идея, проект, пожелания....
                            textarea#comm(type="text", name="name") 
                            p.text-right
                                input.button(type="submit" value="Рассказать")

        .container.footer.revert
            footer.row
                .small-12.medium-5.medium-push-7.column

                    h2 Контакты

                    ul.no-bullet.row 
                        li.small-12.large-6.column
                            h3 Россия
                            p.lead 
                                a(href="tel:+375446446452") +7 (497) 440 19 33
                            p 105541, Москва, 
                                br
                                | Насыпная ул., д. 34


                        li.small-12.large-6.column 
                            h3 Беларусь
                            p.lead 
                                a(href="tel:+375446446452") +375 (17) 203 42 15
                            p 220125, Минск,
                                br 
                                | ул. Перельмана, д. 234
                    hr

                    p
                        span.ic.lcons-packet(title="e-mail")
                        a(href="mailto:info@#{sm_company}.com") info@#{sm_company}.com
                    p
                        span.ic.lcons-speacker(title="скайп")
                        a(href="skype:#{sm_company}?add") #{sm_company}

                    hr.hide-for-medium-up



                .small-12.medium-7.medium-pull-5.column
                    ul.no-bullet.row 
                        li.small-12.large-4.column: a(href="№")
                            h3 Компания

                            ul.no-bullet 
                                li: a(href="№") О компании
                                li: a(href="№") Преимущества
                                li: a(href="№") Принципы работы
                                li: a(href="№") Новости компании
                                li: a(href="№") Карьера

                        li.small-12.large-4.column: a(href="№") 
                            h3 Услуги

                            ul.no-bullet
                                li: a(href="№") ИТ-консалтинг
                                li: a(href="№") Прототипирование
                                li: a(href="№") Заказная разработка ПО
                                li: a(href="№") Интеграция приложений
                                li: a(href="№") Миграция приложений и данных
                                li: a(href="№") Модернизация ПО
                                li: a(href="№") Информационная безопасность
                                li: a(href="№") Независимое тестирование
                                li: a(href="№") Сопровождение и поддержка

                        li.small-12.large-4.column: a(href="№") 
                            h3 Решения

                            ul.no-bullet
                                li: a(href="№") Веб-приложения
                                li: a(href="№") Корпоративные порталы
                                li: a(href="№") Электронная коммерция
                                li: a(href="№") Управление предприятием
                                li: a(href="№") CRM-системы



        .container.revert.copyrights
            aside.row
                .column
                    p.left 2013 — 2015 © #{company}. Все права защищены
                    p.right
                        a(href="fsd") Политика конфеденциальности
        include footer