doctype html
html(class="no-js", lang="en")
    include header
    -var company = "Spinnaker"
    -var sm_company = company.toLowerCase()
    body

        .container.teaser
            section.row
                .small-12.medium-7.large-5.column
                    h1 #{company}
                    h2 Попутный ветер
                    p.lead Полный комплекс услуг по разработке, внедрению и сопровождению программных решений более чем 30-ти клиентам. Только высококвалифицированные ИТ-специалисты. Различная сложность и масштаб проектов.

        .container
            section.row
                .column

                    h2 Услуги
                    ul.listing.no-bullet.row
                        li
                            h3 ИТ-консалтинг
                            p  Даль до подпоясал города, рыбного мир решила текст, гор последний бросил если над.
                        li
                            h3 Прототипирование
                            p  Маленькая злых безопасную буквоград родного щеке, путь над предупреждал необходимыми ipsum эта коварный!
                        li
                            h3 Заказная разработка ПО
                            p  Реторический проектах языкового на берегу, эта залетают себя предупредила предупреждал вскоре заголовок, даль всеми.
                        li
                            h3 Интеграция приложений
                            p  Алфавит переулка речью грустный повстречался над последний родного ipsum, точках океана своих первую.
                        li
                            h3 Миграция приложений и данных
                            p  Снова предложения, рыбного подпоясал то свой большой безопасную буквенных толку. Напоивший, эта, рыбными.
                        li
                            h3 Модернизация ПО
                            p  Вскоре назад сих своих рукопись, точках взобравшись проектах которой решила свое! Языком, домах.
                        li
                            h3 Информационная безопасность
                            p  За раз путь семантика взобравшись прямо послушавшись даль, одна текст курсивных, ему осталось!
                        li
                            h3 Независимое тестирование
                            p  Безорфографичный, буквенных. Журчит семь это точках решила, сбить по всей знаках первую использовало всеми!
                        li
                            h3 Сопровождение и поддержка
                            p  Возвращайся пунктуация своих свой речью, грустный послушавшись лучше взобравшись жаренные страна предупреждал взгляд.

            section.row
                .column

                    h2 Решения
                    ul.listing.no-bullet.row
                        li
                            h3 Веб-приложения
                            p  Выйти скатился, взобравшись переулка образ вершину путь снова буквенных свою! Переписывается, пустился, силуэт!
                        li
                            h3 Корпоративные порталы
                            p  Необходимыми, решила образ, агенство пояс власти все продолжил, путь своих взгляд запятой прямо.
                        li
                            h3 Электронная коммерция
                            p  Что которое, обеспечивает? Вершину назад, знаках над грустный домах языкового залетают власти раз.
                        li
                            h3 Управление предприятием
                            p  Все вскоре, безорфографичный точках то, переулка ее, языком дал великий маленький грамматики раз?
                        li
                            h3 CRM-системы
                            p  Наш но речью семь точках, знаках себя ему она бросил он свой, продолжил.


        .container
            section.row
                .small-12.medium-5.large-4.column
                    h2 Преимущества
                    p.lead Существует несколько причин, на основании которых клиенты выбирают #{company}:
                .small-12.medium-7.large-8.column
                    ul.no-bullet 

                        li
                            h3 Адаптация к процессам заказчика
                            p В центре нашего внимания находится клиент с его потребностями. Благодаря изучению ваших бизнес-процессов и потребностей, мы организуем свою деятельность так, чтобы вы чувствовали себя уверенно и комфортно. Специалисты #{company} не просто сотрудничают с вами, а становятся частью вашей компании, полностью погружаясь в специфику вашего бизнеса. #{company} ориентируется на долгосрочное сотрудничество, которое позволяет достичь глубокого понимания внутренних процессов компаний и предоставлять качественные решения с наименьшими затратами.

                        li
                            h3 Оптимизация затрат
                            p Сотрудничая с профессиональным поставщиком услуг по разработке программного обеспечения, вы не несете затрат на поиск, привлечение и подготовку собственной ИТ-команды, а получаете незамедлительный доступ к квалифицированным специалистам различного профиля. Мы поможем оценить трудозатраты проекта, предложим выгодную модель сотрудничества и возьмем на себя все работы по реализации вашей бизнес-идеи.

                        li
                            h3 Формирование компетентных команд
                            p Благодаря высокому уровню менеджеров, наличию корпоративного обучения, сложным и интересным задачам мы привлекаем лучших сотрудников, из которых впоследствии формируются сильные проектные команды. В #{company} работают профессионалы, за плечами которых от 2-х до 10-ти лет опыта работы в ИТ-сфере. Для каждого проекта мы формируем выделенные команды – разработчиков, программных архитекторов, бизнес-аналитиков, специалистов по контролю качества, координатора и руководителя проекта – с учетом навыков каждого из участников. Это позволяет достичь высокой слаженности работы команды.


        .container
            section.row
                .medium-8.column

                    p.lead 
                        strong Миссия 
                        |#{company} – оказывать всестороннюю помощь нашим клиентам в создании и развитии ИТ-систем, способствующих успеху их бизнеса. Мы предоставляем весь комплекс услуг в сфере профессиональной разработки заказного программного обеспечения, интеграции приложений, стратегического и технологического ИТ-консалтинга, тестирования, сопровождения и поддержки ПО.

                    p Сотрудничая с #{company}, наши клиенты получают в свое распоряжение профессионалов с системным мышлением и творческим подходом, широчайший спектр технологий, отлаженные и проверенные временем методологии управления проектами, опыт успешно выполненных проектов, доскональный контроль качества и гибкие модели сотрудничества.


        .container
            section.row
                .column

                    h2 Приступаем

                    p.lead Расскажите нам про свой проект в любой удобной для вас форме.

                    .row

                        p.small-12.medium-5.medium-push-7.large-4.column Все важно! Будь то четко сформулированные требования или просто идея. Мы подберем специалистов под ваши нужды с учетом отраслевой специфики, способа технологической реализации и характера предоставляемой услуги. 


                        form.small-12.medium-7.medium-pull-5.large-6.large-pull-3.column(action="")
                            label(for="name") Представьтесь
                            input#name(type="text", name="name" title="Как нам лучше всего вас называть")
                            label(for="mail") Ваш e-mail
                            input#mail(type="text", name="name" placeholder="write@mail.com")
                            label(for="tel") Номер телефона
                            input#tel(type="text", name="name"  title="Введите в формате 375296351475 или даже +375(29)6351475" placeholder="например 375296351475")
                            label(for="comm") Ваша идея, проект, пожелания....
                            textarea#comm(type="text", name="name") 
                            p.text-right
                                input.button(type="submit" value="Рассказать")

        .container.footer
            footer.row
                .small-12.medium-5.medium-push-7.column

                    h2 Контакты

                    ul.no-bullet.row 
                        li.small-12.large-6.column
                            h3 Россия
                            p.lead 
                                a(href="tel:+375446446452") +7 (497) 440 19 33
                            p 105541, Москва, 
                                br
                                | Насыпная ул., д. 34


                        li.small-12.large-6.column 
                            h3 Беларусь
                            p.lead 
                                a(href="tel:+375446446452") +375 (17) 203 42 15
                            p 220125, Минск,
                                br 
                                | ул. Перельмана, д. 234
                    hr

                    p e-mail: 
                        a(href="mailto:info@#{sm_company}.com") info@#{sm_company}.com
                    p скайп: 
                        a(href="skype:#{sm_company}?add") #{sm_company}

                    hr.hide-for-medium-up



                .small-12.medium-7.medium-pull-5.column
                    ul.no-bullet.row 
                        li.small-12.large-4.column: a(href="№")
                            h3 Компания

                            ul.no-bullet 
                                li: a(href="№") О компании
                                li: a(href="№") Преимущества
                                li: a(href="№") Принципы работы
                                li: a(href="№") Новости компании
                                li: a(href="№") Карьера

                        li.small-12.large-4.column: a(href="№") 
                            h3 Услуги

                            ul.no-bullet
                                li: a(href="№") ИТ-консалтинг
                                li: a(href="№") Прототипирование
                                li: a(href="№") Заказная разработка ПО
                                li: a(href="№") Интеграция приложений
                                li: a(href="№") Миграция приложений и данных
                                li: a(href="№") Модернизация ПО
                                li: a(href="№") Информационная безопасность
                                li: a(href="№") Независимое тестирование
                                li: a(href="№") Сопровождение и поддержка

                        li.small-12.large-4.column: a(href="№") 
                            h3 Решения

                            ul.no-bullet
                                li: a(href="№") Веб-приложения
                                li: a(href="№") Корпоративные порталы
                                li: a(href="№") Электронная коммерция
                                li: a(href="№") Управление предприятием
                                li: a(href="№") CRM-системы



                aside.column
                    p.left 2013 — 2015 © #{company}. Все права защищены
                    p.right
                        a(href="fsd") Политика конфеденциальности
        include footer