doctype html
html(class="no-js", lang="en")
    include header
    -var company = "Spinnaker"
    body

        .container.teaser
            section.row
                .column
                    h1 #{company}
                    h2 Попутный ветер
                    p.lead Полный комплекс услуг по разработке, внедрению и сопровождению программных решений более чем 30-ти клиентам. Только высококвалифицированные ИТ-специалисты. Различная сложность и масштаб проектов.

        .container
            section.row
                .column

                    h2 Услуги
                    ul.no-bullet
                        li ИТ-консалтинг
                        li Прототипирование
                        li Заказная разработка ПО
                        li Интеграция приложений
                        li Миграция приложений и данных
                        li Модернизация ПО
                        li Информационная безопасность
                        li Независимое тестирование
                        li Сопровождение и поддержка

            section.row
                .column

                    h2 Решения
                    ul.no-bullet 
                        li Веб-приложения
                        li Корпоративные порталы
                        li Электронная коммерция
                        li Управление предприятием
                        li CRM-системы


        .container
            section.row
                .column
                    h2 Преимущества
                    p.lead Существует несколько причин, на основании которых клиенты выбирают #{company}:
                    ul.no-bullet 

                        li
                            h3 Адаптация к процессам заказчика
                            p В центре нашего внимания находится клиент с его потребностями, интересами и ожиданиями. Благодаря тщательному изучению ваших бизнес-процессов и потребностей, мы организуем свою деятельность так, чтобы вы чувствовали себя уверенно и комфортно. Специалисты #{company} не просто сотрудничают с вами, а становятся частью вашей компании, полностью погружаясь в специфику вашего бизнеса. Кроме того, #{company} ориентируется на долгосрочное сотрудничество, которое позволяет достичь глубокого понимания внутренних процессов компаний и предоставлять высококачественные решения с наименьшими затратами.

                        li
                            h3 Оптимизация затрат
                            p Сотрудничая с профессиональным поставщиком услуг по разработке программного обеспечения, вы не несете затрат на поиск, привлечение и подготовку собственной ИТ-команды, а получаете незамедлительный доступ к высококвалифицированным специалистам различного профиля. Мы поможем оценить трудозатраты проекта, предложим наиболее выгодную модель сотрудничества и возьмем на себя все работы по технической реализации вашей бизнес-идеи.

                        li
                            h3 Формирование компетентных команд
                            p Благодаря высокому уровню профессионализма HR-менеджеров, сотрудничеству с лучшими техническими университетами, наличию центров корпоративного обучения и полного социального пакета, мы привлекаем лучших сотрудников, из которых впоследствии формируются сильные проектные команды. В #{company} работают более 1200 профессионалов, за плечами которых от 2-х до 10-ти лет опыта работы в ИТ-сфере. Для каждого проекта мы формируем выделенные команды – разработчиков, программных архитекторов, бизнес-аналитиков, специалистов по контролю качества, координатора и руководителя проекта – с учетом доменного опыта и специфических технических навыков каждого из участников. Это позволяет достичь высокой эффективности и слаженности работы команды.


        .container
            section.row
                .column

                    p Миссия #{company} – оказывать всестороннюю помощь нашим клиентам в создании и развитии ИТ-систем, способствующих успеху их бизнеса. Мы предоставляем весь комплекс услуг в сфере профессиональной разработки заказного программного обеспечения, интеграции приложений, стратегического и технологического ИТ-консалтинга, тестирования, сопровождения и поддержки ПО.

                    p Сотрудничая с #{company}, наши клиенты получают в свое распоряжение профессионалов с системным мышлением и творческим подходом, широчайший спектр технологий, отлаженные и проверенные временем методологии управления проектами, опыт успешно выполненных проектов, доскональный контроль качества и гибкие модели сотрудничества.


        .container
            section.row
                .column

                    h2 Приступаем

                    p.lead Расскажите нам про свой проект в любой удобной для вас форме.

                    p Будь то четко сформулированные требования или просто идея. Мы подберем специалистов под ваши нужды с учетом отраслевой специфики, способа технологической реализации и характера предоставляемой услуги. 


                    form

        .container
            footer.row
                .column

                    h2 Контакты

                    ul.no-bullet 
                        li
                            h3 Россия
                            p.lead +7 (497) 440 19 33
                            p 105541, Москва, 
                                br
                                | Насыпная ул., д. 34


                        li 
                            h3 Беларусь
                            p.lead +375 (17) 203 42 15
                            p ул. Перельмана, д. 234
                                br 
                                | 220125, Минск,


                    a(href="mailto:info@#{company.toLowerCase()}.com") info@#{company.toLowerCase()}.com
                    br
                    a(href="skype:#{company.toLowerCase()}?add") #{company.toLowerCase()}




                    ul.no-bullet 
                        li КОМПАНИЯ

                            ul.no-bullet 
                                li О компании
                                li Преимущества
                                li Принципы работы
                                li Новости компании
                                li Карьера

                        li УСЛУГИ

                            ul.no-bullet
                                li ИТ-консалтинг
                                li Прототипирование
                                li Заказная разработка ПО
                                li Интеграция приложений
                                li Миграция приложений и данных
                                li Модернизация ПО
                                li Информационная безопасность
                                li Независимое тестирование
                                li Сопровождение и поддержка

                        li РЕШЕНИЯ

                            ul.no-bullet
                                li Веб-приложения
                                li Корпоративные порталы
                                li Электронная коммерция
                                li Управление предприятием
                                li CRM-системы



                    aside
                        p.left 1999 — 2015 © #{company}. ВСЕ ПРАВА ЗАЩИЩЕНЫ
                        p.right Политика конфеденциальности
        include footer